
$primary-color: #f0e6e6; 
$secondary-color: #f92424; 
$text-color: #2a2424;
$accent-color: #ff2727; 
$gold-color: #e5b300; 
$bg-light: #fff;
$bg-dark: #a9c1c9;
$btn-color-primary: #f0e6e6;
$btn-color-secondary: #fff;

// Ֆոնտեր
$font-family-serif: 'Playfair Display', serif;
$font-family-sans: 'Montserrat', sans-serif;

// Բեկման կետեր
$breakpoint-mobile: 600px;
$breakpoint-tablet: 900px;